@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: "Poppins", sans-serif;
}

.active {
  @apply text-[#FF7A00] font-semibold;
}

@layer components {
  .input {
    @apply block w-full px-4 py-2 text-sm  rounded-sm border border-gray-300 shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-gray-400;
  }

  .btn {
    @apply px-4 py-2 text-sm font-medium text-white bg-gray-600 rounded-sm shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1;
  }

  .container {
    @apply mx-auto px-4;
  }

  .dropzone {
    @apply flex flex-col items-center justify-center w-full h-64 p-4 border-2 border-gray-300 border-dashed rounded-sm;
  }
}
